body{
    background: linear-gradient(skyblue, rgb(84, 250, 84), yellow);
    background-repeat: no-repeat;
    background-attachment: fixed;
    border: solid;
    border-color: blueviolet;
    border-width: 10px;
    border-radius: 20px;
    padding: 20px;
}
h1{
    color: rgb(49, 15, 82);
    font-family: "Press Start 2p","consolas",sans-serif;
} 
a{
    font-size: 30px;
}
tr{
    font-weight: 30px;
}